<!DOCTYPE html>
<html>
  <head lang="<%= I18n.locale %>">
    <title>
      <%= breadcrumbs.map(&:name).filter{ |name| name != "Trustroute"}.reverse.append("Trustroute").join(" | ")  %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_stylesheet_tag "application.scss", media: :all %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>

    <link rel="icon" type="image/svg+xml" href="/img/logo.svg">
  </head>

  <body class="application-layout">
    <div class="application-layout__header">
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </div>

    <div class="application-layout__content">
      <%= yield %>
    </div>

    <div class="application-layout__footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
